<%- include('../../layout.ejs') %>

<div class="row">

    <div class="col-8 mt-3">
        <a href="/admin/users">Retour à l'administration des utilisateurs</a>
        <div class="d-flex justify-content-center align-items-center">
            <form class="mt-5" method="post">

                <% if (error) { %>
                    <div class="alert alert-danger" role="alert">
                        <%= error %>
                    </div>
                <% } %>

                <!-- First Name input -->
                <div class="form-outline mb-4">
                    <input type="text" name="firstName" class="form-control" placeholder="Prénom"/>
                </div>

                <!-- Last Name input -->
                <div class="form-outline mb-4">
                    <input type="text" name="lastName" class="form-control" placeholder="Nom"/>
                </div>
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <input type="email" name="email" class="form-control" placeholder="E-mail"/>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                    <input type="password" name="password" class="form-control" placeholder="Mot de passe"/>
                </div>

                <div class="form-outline mb-4">
                    <input type="password" name="passwordConfirmation" class="form-control"
                           placeholder="Répéter le mot de passe"/>
                </div>


                <!-- Submit button -->
                <button type="submit" class="btn btn-primary w-100 p-3 mb-4">Inscrire un utilisateur</button>

            </form>
        </div>
    </div>
    <div class="col-4 mt-5 d-flex justify-content-end">
        <%- include('../../sidebar.ejs') %>
    </div>
</div>
</div>
</body>
</html>